* {
    box-sizing: border-box;
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}

.about-us h2 {
    text-shadow: 0px 4px 4px;
    color: #49A37B;
}

.about-us .mobile {
    text-align: center;
    width: 380px;
}

.tablet-desktop {
    display: none;
}

@media screen and (min-width:601px) {

    .mobile {
        display: none;
    }

    .tablet-desktop {
        display: block;
        text-align: center;
        width: 90%;
    }
}

@media screen and (min-width:1025px) {

    .about-us {
        display: flex;
        flex-direction: row;
        text-align: center;
        height: 200px;
    }

    .about-us h2 {
        padding-right: 30px;
        font-size: 30px;
    }

    .tablet-desktop {
        width: 70%;
    }
}