* {
    box-sizing: border-box;
}

.general-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}

.general-data h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    color: #49A37B;
}

.first-two {
    padding-right: 70px;
}


.activities-container {
    display: flex;
}

.general-info {
    justify-content: flex-start;
    margin: 0;
}

@media screen and (min-width:601px) {

    .activities-container {
        display: flex;
        flex-direction: column;
    }

    .general-data {
        height: 700px;
    }


    .general-data h3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width:1025px) {

    .general-data {
        display: flex;
        flex-direction: row;
        height: 250px;
        font-size: 10px;
    }

    .h3-activities {
        display: flex;
        flex-direction: row;
        padding-right: 10px;
    }

    .h3-black {
        display: flex;
        flex-direction: row;
        padding-right: 45px;
    }

    .h3-classic {
        display: flex;
        flex-direction: row;
        padding-right: 10px;
    }

    .h3-only {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 60vh;
        font-size: 5px;
    }


    .activities-container-li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        margin-left: 20px;
        font-size: 12px;
    }

    .first-two {
        display: flex;
        flex-direction: column;
    }

    .second-two {
        display: flex;
        flex-direction: column;
    }

    .general-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 20px;
    }

    .black-container {
        display: flex;
        flex-direction: column;
        margin-top: 35px;
        margin-left: 20px;
        font-size: 12px;
    }

    .classic-container {
        display: flex;
        flex-direction: column;
        margin-top: 21px;
        font-size: 12px;
    }

    .only-classes-container {
        display: flex;
        flex-direction: column;
        margin-top: 8px;
        padding-left: 10px;
        font-size: 12px;
    }
}